.fondoApp{
    background-image: url('../public/img/fondoUI.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}